Windows/Engine/Content/Schemas/Conditions/SecurityPolicies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SecurityPolicies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecurityPolicies.PolicyApplied">
    <xs:complexType>
      <xs:attribute name="policyPath" type="xs:string" use="required"   />
    </xs:complexType>
  </xs:element>

  <xs:element name="SecurityPolicies.PolicyNotApplied">
    <xs:complexType>
      <xs:attribute name="policyPath" type="xs:string" use="required"   />
    </xs:complexType>
  </xs:element>
</xs:schema>
